body {
  background-image: url(../img/backgroundBody.png);
  background-size: cover; }

* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "MyriadProCondBold";
  src: url(../fonts/MyriadProCondBold/MyriadProCondBold.eot);
  src: url(../fonts/MyriadProCondBold/MyriadProCondBold.eot?#iefix);
  src: url(../fonts/MyriadProCondBold/MyriadProCondBold.woff);
  src: url(../fonts/MyriadProCondBold/MyriadProCondBold.ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: MyriadProCondRegular;
  src: url(../fonts/MyriadProCondRegular/MyriadProCondRegular.eot);
  src: url(../fonts/MyriadProCondRegular/MyriadProCondRegular.eot?#iefix);
  src: url(../fonts/MyriadProCondRegular/MyriadProCondRegular.woff);
  src: url(../fonts/MyriadProCondRegular/MyriadProCondRegular.ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "LC Chalk";
  src: url(../fonts/chalk/lc_chalk.eot);
  src: url(../fonts/chalk/lc_chalk.woff);
  src: url(../fonts/chalk/lc_chalk.ttf);
  font-style: normal;
  font-weight: normal; }

.full {
  background-image: url(../img/texture.png);
  width: 1014px;
  margin-left: 16%; }

.header {
  position: relative;
  height: 183px; }

.ins {
  position: absolute;
  top: 10px;
  left: 11px; }

.vk {
  position: absolute;
  top: 10px;
  left: 47px; }

.feedback {
  position: absolute;
  left: 888px;
  top: 11px;
  width: 116px;
  height: 28px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to top, #7fa59d, #98c0b8);
  color: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-family: "MyriadProCondRegular";
  cursor: pointer; }

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); }

.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888888;
  width: 40%;
  height: 300px; }

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-size: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.header ul {
  position: relative; }

.detail {
  position: absolute;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "MyriadProCondBold";
  top: 88px;
  list-style-type: none; }

.navigation a {
  text-decoration: none;
  color: #4f3628; }

.navigation a:hover {
  color: #b45c29; }

.nav1 {
  left: 35px; }

.nav2 {
  left: 133px; }

.nav3 {
  left: 256px; }

.nav4 {
  left: 720px; }

.nav5 {
  left: 814px; }

.nav6 {
  left: 913px; }

.ibodo {
  position: absolute;
  left: 335px; }

.line1 {
  position: absolute;
  top: 51px; }

.line2 {
  position: absolute;
  top: 132px; }

.middle {
  height: 633px;
  position: relative; }

.action {
  position: relative; }

.action img:nth-child(1) {
  margin-left: 342px;
  margin-top: 27px; }

.action img:nth-child(2) {
  margin-left: 186px;
  margin-top: 27px; }

.design {
  color: white; }

.action-name {
  font-family: "MyriadProCondRegular";
  text-transform: uppercase;
  font-size: 18px;
  color: #321f18;
  margin-left: 415px;
  position: absolute;
  top: 24px; }

.action1 {
  font-size: 18px;
  position: absolute;
  top: 72px;
  left: 11px;
  width: 314px;
  height: 110px;
  background: url("../img/frame.png") no-repeat right 0px top 0px, url("../img/board.png") no-repeat left 6px top 2px; }

.action2 {
  font-size: 14px;
  position: absolute;
  left: 355px;
  top: 72px;
  width: 314px;
  height: 110px;
  background: url("../img/frame.png") no-repeat right 0px top 0px, url("../img/board.png") no-repeat left 6px top 2px; }

.action3 {
  font-size: 18px;
  position: absolute;
  left: 687px;
  top: 72px;
  width: 314px;
  height: 110px;
  background: url("../img/frame.png") no-repeat right 0px top 0px, url("../img/board.png") no-repeat left 6px top 2px; }

.board1 {
  margin-top: 22px;
  text-align: center;
  font-family: "LC Chalk"; }

.board2 {
  margin-top: 19px;
  text-align: center;
  font-family: "LC Chalk"; }

.board3 {
  margin-top: 24px;
  text-align: center;
  font-family: "LC Chalk"; }

.news {
  position: relative;
  top: 160px; }

.string1 {
  margin-left: 332px;
  margin-top: 27px; }

.string2 {
  margin-left: 186px;
  margin-top: 27px; }

.news-name {
  position: absolute;
  top: 0;
  left: 438px;
  font-family: "MyriadProCondRegular";
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bolder;
  color: #321f18; }

.news1 {
  position: absolute;
  left: 11px;
  top: 46px;
  border: 1px solid #bebbb8;
  height: 342px; }

.news2 {
  position: absolute;
  left: 350px;
  top: 46px;
  border: 1px solid #bebbb8;
  height: 342px; }

.news3 {
  position: absolute;
  left: 688px;
  top: 46px;
  border: 1px solid #bebbb8;
  height: 342px; }

.menu {
  color: #567e81;
  font-size: 14px;
  position: absolute;
  top: 205px;
  left: 6px;
  text-decoration: none;
  font-family: "Arial";
  font-weight: bolder; }

.border {
  border: 1px solid #bebbb8; }

.news1 p {
  width: 300px;
  padding-left: 6px;
  padding-top: 30px;
  font-family: "Arial";
  font-size: 14px;
  color: #555454;
  padding-bottom: 5px; }

.news2 p {
  width: 300px;
  padding-left: 6px;
  padding-top: 30px;
  font-family: "Arial";
  font-size: 14px;
  color: #555454;
  padding-bottom: 5px; }

.news3 p {
  width: 300px;
  padding-left: 6px;
  padding-top: 30px;
  font-family: "Arial";
  font-size: 14px;
  color: #555454;
  padding-bottom: 5px; }

span {
  padding-left: 6px;
  font-family: "Arial";
  font-size: 12px;
  color: #567e81;
  font-weight: bolder; }

.bottom {
  margin-bottom: 50px; }

.archive {
  position: absolute;
  top: 1195px;
  margin-left: 876px;
  font-family: "Arial";
  font-size: 16px;
  color: #567e81; }

.copyright {
  position: absolute;
  top: 1240px;
  margin-left: 14px;
  font-family: "Arial";
  font-size: 16px;
  color: #ffffff; }

.navigation [type="checkbox"] {
  display: none; }

.navigation label.toggleMenu {
  background: #C9C9C9;
  display: none; }

/*# sourceMappingURL=style.css.map */
